{%extends './layout.html'%}
{%load static%}
{%block nameSection%}Contact{%endblock%}
{%block content%}
    <h1>Contact</h1>
    <div class="ctn-contact">
    <a href="https://github.com/JuanEs-az"><img src="{%static 'img/github.png'%}"/></a>
    <a href="mailto:juaneste687@gmail.com"><img src="{%static 'img/gmail-icon.png'%}"/></a>
    <a href="https://www.instagram.com/develop_es_05/"><img src="{%static 'img/instagram.png'%}"/></a>
    </div>
    <h1 class="clearfix">Acknowledgment</h1>
    <ul class="ack">
        <a class="logoflati"  href="https://www.flaticon.es/"><img src="{%static 'img/flaticon.svg'%}"/></a>
        <li><a href="https://www.flaticon.es/autores/Icongeek26">Icongeek26</a></li>
        <li><a href="https://www.flaticon.es/autores/Freepik">Freepik</a></li>
        <li><a href="https://www.flaticon.es/autores/Payungkead">Payungkead</a></li>
        <li><a href="https://www.flaticon.es/autores/Smashicons">Smashicons</a></li>
        <li><a href="https://www.flaticon.es/autores/Dighital">Dighital</a></li>
        <li><a href="https://www.flaticon.es/autores/Flat Icons">Flat Icons</a></li>
    </ul>

{%endblock%}
