.ctn-content > h1{
    font-family: 'Lobster', cursive;
    text-align: center;

}
.ctn-info{
    color:white;
    width: 50%;
    margin: 0px auto;
    font-family: 'Karla', sans-serif;
    margin-bottom: 20px;
}
.ctn-info h2{
    font-family: 'Lobster', cursive; 
    font-size: 30px;
}
.ctn-info p{
    margin-bottom: 10px;
    font-size: 20px;
}
.sections{
    width: 50%;
}
.ctn-izquierda{
    float:left;
    
}
.ctn-derecha{
    float:right;

}