/*
font-family: 'Karla', sans-serif; NO TITULOS
font-family: 'Lobster', cursive; TITULOS
*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000a64;
}
hr{
    background-color: #00ffb0;
    height: 2px;
    border: flat transparent;
    width: 75%;
    margin: 0px auto;
    margin-top: 0px;
    margin-bottom: 10px; 
}
@keyframes rotacionImagen{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*HEADER E ICONO*/
.ctn-header{
    width: 100%;
    height: 120px;
    box-shadow: 0px 3px 4px #333333a2;
    background:#212d94;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.img-icon{
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-left: 10px;
    animation: rotacionImagen 20s infinite;
    
}
.ctn-header h1, .ctn-header h3{
    font-family: 'Lobster', cursive;
    text-align: center;
    color:#00ffb0;
    text-shadow: 0px 0px 5px #00ffb0;
}
.ctn-header h3{
    font-size: 30px;
}
.ctn-header h1{
    font-size: 60px
}
/*CONTENIDO PRINCIPAL*/
.ctn-content{
    padding: 15px;
    margin-top:15px;
}
.ctn-content h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #00ffb0;
    text-shadow: 0px 0px 5px #00ffb0;
    margin-bottom: 0px;
    font-size: 40px;
}
/*BARRA DE NAVEGACIÓN LATERAL*/
.nav-lateral{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    position:fixed;
    top: 0px;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #212d94;
    box-shadow: 3px 0px 4px #333333a2;
    z-index: 2;
} 
.nav-lateral h1{
    padding-top: 80px;
    font-family: 'Lobster', cursive;
    text-align: center;
    color:#00ffb0;
    font-size: 40px;
}
.nav-lateral h1 span{
    background-color: black;
    padding:4px;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:#212d94
}
.nav-lateral ul li a{
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    margin-left: 30px;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 1s;
}
.nav-lateral ul li{
    height: 50px;
    width: 100%;
    border-bottom: groove 2px #fff;

    border-bottom-right-radius: 12px;
    margin-top: 10px;
    cursor:pointer;
}
.nav-lateral ul li:hover a{
    text-shadow: 0px 0px 3px white;
    transform:scale(1.05);
    transition: transform 1s;
}
.nav-lateral ul li:hover a img{
    transform: rotate(360deg) scale(1.5);
    transition: transform 1s;
}
.nav-lateral ul li a img{
    display:inline-block;
    margin-right: 10px;
    width: 40px;
    line-height: 50px;
    height: 40px;
    transition: transform 1s;
}
/*ACTIVADORES DE LA BARRA LATERAL*/
.activar-nav{
    display:block;
    position:fixed;
    padding: 10px;
    z-index:3
}
.activar-nav img{
    display:block;
    margin: 10px;
    cursor:pointer;
    width: 50px;
    height: 50px;
}
.activar-nav img{
    z-index: -1;
}
.nav-on,.nav-off{
    border-radius: 100%;
}
.nav-on:hover,.nav-off:hover{
    background:goldenrod
}
.activar-nav .nav-off{
    display:none;
}
/*BOTONES*/
.boton{
    background: #00b7f8;
    display: block;
    text-decoration: none;
    border-bottom: 5px solid #0045a6;
    border-radius: 12px;
    box-shadow: 6px 6px 6px rgba(51, 51, 51, 0.596);
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: block;  
    font-family: 'Karla', sans-serif;
    font-size: 28px;
    height: 32px;
    padding: 20px 20px;
    text-align: center;
    transition: all 0.2s ease 0s;
    width: 120px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .boton:hover{
    background: #0096f7;
  }
  .boton:active {
    box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.596), 0px 0px 35px 0px #00b7f8;
    border-bottom:1px solid #0045A6;
    text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff;
    transform: translateY(4px);
    transition: all 0.1s ease 0s;
  }

.boton.categories{
    background: rgb(255, 99, 71);
    border-bottom: 5px solid rgb(167, 62, 43);
}
.boton.categories:hover{
    background: rgb(252, 115, 91);
}
.boton.categories:active{
    border-bottom:1px solid  rgb(167, 62, 43);
    box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.596), 0px 0px 35px 0px rgb(255, 99, 71)
}
.boton.start{
    font-size: 21px;
    line-height: 32px;
}
.boton.gethooked{
    background: rgb(0, 250, 125);
    border-bottom: 5px solid rgb(6, 122, 64);
}
.boton.gethooked:hover{
    background-color: rgb(63, 168, 116);
}
.boton.gethooked:active{
    border-bottom:1px solid  rgb(6, 122, 64);
    box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.596), 0px 0px 35px 0px rgb(0, 250, 125)
}
.text{
    height: 16px !important;
    padding: 0px;
    display:inline !important;
}